.wrapper {
  display: flex;
  gap: .5rem;

  transform: translateY(-50%);
}

.input { 
  flex: 1;
  padding: 1rem;
  width: 100%;

  background: var(--gray-500);
  color: var(--gray-100);
  border: 1px solid var(--gray-700);
  border-radius: 8px;
  outline: none;
}

.input:focus {
  border-color: var(--purple-dark);
}